.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #09B1EF;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #fff;
  }
  