<app-sidebar></app-sidebar>

<h1>Canciones</h1>

<div class="main-content">
  <table class="table">
    <thead>
      <tr>
        <th>Canción</th>
        <th>Autor</th>
        <th>Género</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{ song.name }}</td>
        <td>{{ song.autor }}</td>
        <td>{{ song.genre }}</td>
        <td>
          <button class="button" (click)="deleteSong(song.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabla para añadir canciones disponibles -->
  <h2>Añadir canciones disponibles</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Canción</th>
        <th>Autor</th>
        <th>Género</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let availableSong of availableSongs">
        <td>{{ availableSong.name }}</td>
        <td>{{ availableSong.autor }}</td>
        <td>{{ availableSong.genre }}</td>
        <td>
          <button class="button-add" (click)="addSong(availableSong.id)">Añadir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
