/* Estilos del formulario de login */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #e0e0e0;
    font-weight: bold;
  }
  
  form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #e0e0e0;
  }
  
  form input:focus {
    border-color: #444;
    outline: none;
  }
  
  .LoginButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #e0e0e0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .LoginButton:hover {
    background-color: #5c6bc0;
  }

  /* Estilos de los mensajes de error */
  .ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442; /* red */
  }

  /* Estilos del logo */
.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: auto;
}