<!-- mis-playlists.component.html -->
<app-sidebar></app-sidebar>

<h1>Playlists:</h1>

<div class="main-content">
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="!errorMessage">
    <p>Mis Playlists:</p>
    <ul class="playlist-list">
      <li *ngFor="let playlist of playlists" class="playlist-item" (click)="viewSongs(playlist.id)"> <!-- cuando se hace click en una playlist se llama a la función viewSongs que redirige a la vista de las canciones de la playlist --> 
        <span>{{ playlist.name }}</span>
        <button class="delete-button" (click)="deletePlaylist(playlist.id); $event.stopPropagation()">Eliminar</button> 
      </li>
    </ul>
  </div>
</div>