/* mis-playlists.component.css */

/* Asegúrate de que el contenido principal se ajuste al lado de la sidebar */
.main-content {
  margin-left: 200px; /* Debe coincidir con el ancho de la sidebar */
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
}

h1 {
  color: #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.playlist-list {
  list-style-type: none;
  padding: 0;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border-radius: 4px;
}

.playlist-item:hover {
  background-color: #444;
  cursor: pointer;
}

button {
  background-color: #555;
  color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #777;
}

button.delete-button {
  background-color: #c0392b;
}

button.delete-button:hover {
  background-color: #e74c3c;
}

button.edit-button {
  background-color: #2980b9;
}

button.edit-button:hover {
  background-color: #3498db;
}

button.save-button {
  background-color: #27ae60;
}

button.save-button:hover {
  background-color: #2ecc71;
}

input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.button-container {
  display: flex;
  gap: 5px;
}
