<!-- mis-playlists.component.html -->
<app-sidebar></app-sidebar>

<h1>Playlists:</h1>

<div class="main-content">
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="!errorMessage">
    <p>Mis Playlists:</p>
    <ul class="playlist-list">
      <li *ngFor="let playlist of playlists" class="playlist-item">
        <span>{{ playlist.name }}</span>
        <button class="delete-button" (click)="deletePlaylist(playlist.id)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>