/* Asegúrate de que el contenido principal se ajuste al lado de la sidebar */
.main-content {
  margin-left: 200px; /* Debe coincidir con el ancho de la sidebar */
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
}

h1 {
  color: #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #1e1e1e;
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.table thead {
  background-color: #333;
}

.table tbody tr:nth-child(even) {
  background-color: #2b2b2b;
}

.table tbody tr:hover {
  background-color: #444;
}

.table th {
  background-color: #444;
  color: #e0e0e0;
}

.table td {
  color: #e0e0e0;
}

/* Estilo para la barra lateral */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #1e1e1e;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a.active {
  font-weight: bold;
}

/* Estilo para los botones */
.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-button, .save-button, .delete-button {
  background-color: #444;
  color: #e0e0e0;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px; /* Espaciado horizontal de 5px entre los botones */
}

.edit-button:hover, .save-button:hover, .delete-button:hover {
  background-color: #575757;
}

.edit-button {
  background-color: #007bff; /* Color de fondo azul para el botón Editar */
  color: #ffffff; /* Color del texto blanco */
}

.edit-button:hover {
  background-color: #0056b3; /* Color de fondo azul oscuro al pasar el ratón */
}

.delete-button {
  background-color: #dc3545; /* Color de fondo rojo para el botón Eliminar */
  color: #ffffff; /* Color del texto blanco */
}

.delete-button:hover {
  background-color: #c82333; /* Color de fondo rojo oscuro al pasar el ratón */
}

.table tbody tr {
  cursor: pointer; /* Cambia el cursor a una mano en las filas de la tabla */
}