<!-- Importar sidebar -->
<app-sidebar></app-sidebar>

<!-- Contenedor principal -->
<div class="main-container">
  

  <!-- Formulario para crear playlist -->
  <form #playlistForm="ngForm" (ngSubmit)="onSubmit(playlistForm)">
    <div class="form-group">
      <h1>Nombre de la playlist</h1>
      <input type="text" id="name" class="form-control" name="playlistName" [(ngModel)]="playlistName" required>
      <div *ngIf="playlistForm.controls['playlistName']?.invalid && playlistForm.controls['playlistName']?.touched" class="text-danger">
        El nombre de la playlist es obligatorio.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="playlistForm.invalid">Crear Playlist</button>
  </form>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/images/Recurso_2.webp" alt="Logo" class="logo">
  </div>
  
</div>
