<nav>
  <ul>
    <li>
      <a href="/">Songs</a>
      <a href="/playlists">Playlists</a>
      <ng-container *ngIf="userEmail; else showLoginLink">
        <a href="/misPlaylists">Mis Playlists</a>
        <a href="/createPlaylist">Crear Playlist</a>
      </ng-container>
      <ng-template #showLoginLink>
        <a href="/login">Mis Playlists</a>
      </ng-template>
      <ng-container *ngIf="userEmail; else loginLink">
        <span>{{ userEmail }}</span>
        <button (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loginLink>
        <a href="/login">Login</a>
      </ng-template>
    </li>
  </ul>
</nav>
