<nav>
  <div class="logo-container">
    <img src="assets/images/Recurso_2.webp" alt="Logo" class="logo">
  </div>
  <ul>
    <li>
      <a href="/">Songs</a>
      <a href="/playlists">Playlists</a>
      <ng-container *ngIf="userEmail; else notLoggedIn">
        <a href="/misPlaylists">Mis Playlists</a>
        <a href="/createPlaylist">Crear Playlist</a>
        <span>{{ userEmail }}</span>
        <br><br>
        <button class="logout" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #notLoggedIn>
        <a href="/login">Mis Playlists</a>
        <a href="/login">Login</a>
      </ng-template>
    </li>
  </ul>
</nav>
